<h1>Selected Post</h1>
<div>
  <div>Title: {{post.title}}</div>
  <div>Content: {{post.content}}</div>
  <div>date_created: {{post.date_created}}</div>
  <div>creator username: {{post.user.username}}</div>
</div>
<br />
{{#if otherPosts}}
<h2>Other Posts by {{post.user.username}}</h2>
{{#each otherPosts as |other|}}
{{> otherPosts-details}}
{{/each}}
{{else}}
<h2>No other posts by {{post.user.username}}</h2>
{{/if}}