{{!-- <div class="selected-post"></div>
<h1>{{post.title}}</h1>
<p> by: {{post.user.username}}</p>
<p>{{format_dateTime post.date_created}}</p>
  <p>{{post.content}}</p> --}}

  <div class="row">
  <div class="col s12">
    <div class="card z-depth-3 selected-post">
        <div class="selected-post">
          <h2>{{post.title}}</h2>
          <h5> by: {{post.user.username}}</h5>
          <p class="dateTime">{{format_dateTime post.date_created}}</p>
          <p>{{post.content}}</p>
        </div>
        <h6>&nbsp; &nbsp; Comments:</h6>
        <div class="selected-comments">
          {{#each post.comments as |comment|}}
          {{> comment-details}}
          {{/each}}
        </div>
    </div>
  </div>
</div>
  
  
  {{#if loggedIn}}
  <button id="commentBtn" class="waves-effect waves-light btn">Comment</button>
  {{/if}}
  {{#if userBtns}}
    <button
    id="editBtn-{{post.id}}"
    data-postId="{{post.id}}"
    onclick="document.location.replace('/dashboard/edit/{{post.id}}')"
    class="waves-effect waves-light btn editBtn"
  >Edit</button>
  <button
    id="deleteBtn-{{post.id}}"
    data-postId="{{post.id}}"
    class="waves-effect waves-light btn deleteBtn"
  >Delete</button>
  {{/if}}
  <div id="for-comment-form" data-postId={{post.id}} class="row"></div>
</div>
<br />
{{#if otherPosts}}
<h3>Other Posts by {{post.user.username}}</h3>
{{#each otherPosts as |other|}}
{{> otherPosts-details}}
{{/each}}
{{else}}
<h3>No other posts by {{post.user.username}}</h3>
{{/if}}

{{#if loggedIn}}
<script src="/js/addComment.js"></script>
<script src="/js/deletePost.js"></script>
{{/if}}